
.main_body{
	margin: 0 0 0 0px;
	padding 0 0 0 0px;
}

.main_top{
	display:flex;
	flex-direction:row;
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
	width: 100%;
	height:50px;
	z-index: 1;
	background-color: rgba(126, 128, 124, 0.19);
}

.main_top_title{
	width: 230px;
	height: 50px;
	font-size:32px;
	padding-top: 3px;
	padding-left:5px;
}


.main_content_head{
	margin-top: 10px;
    margin-left: 30px;
    font-size: 25px;
    height: 30px;
}

.main_content_input{
	margin-left: 20px;
	height: 20px;
	width: 100%;
}

.main_content_input_field{
	height: 18px;
	width: 300px;
}

.main_content_input_button{
	background-color: #555555;
    color: #FFFFFF;
    height: 24px;
    width: 60px;
}

.main_content_message{
	margin-top: 50px;
	margin-left: 20px;
	font-size: 30px;
}

.menu_btn{
	display: inline-block;
    background-color: #79726d;
    color: #FFFFFF;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    opacity: 0.9;
}
.menu_btn:hover{
	background-color: grey;
}

.main_content_search_result{
	display:flex;
    flex-direction:column;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    margin-top:20px;
}
    

.main_menu{
	
}

.main_menu a{
	display: block;
    padding: 6px 10px 6px 10px;
}  
.main_menu a:hover{
	background-color: #cccccc;
}

.main_view{
	position: fixed!important;
	top:50px;
	width:100%;
	height:100%;
	overflow-y: auto;
}

.loading_cls{
	position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    z-index: 3;
    top: 0;
    opacity: 0.5;
}